<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/duocuc.png" alt="duoc" width="80" height="90">

    <ion-button [routerLink]="['/inicio']" slot="end" color="danger">
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrarMenu">
    <ion-button [routerLink]="['/menu']" color="warning">
      Mis Asignaturas
    </ion-button>
  </div> 
    
  <div class="centrarMenu">
    <ion-button [routerLink]="['/menu']" color="warning">
      Mis Asistencias
    </ion-button>
  </div> 
    
  <div class="centrarMenu">
    <ion-button (click)="registrarAsis()" color="warning">
      Registrar Asistencias
    </ion-button>
  </div>  
    
  <div class="centrarMenu">
    <ion-button [routerLink]="['/cambio']" color="warning">
      Cambiar Clave
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <img src="assets/logo-duoc.png" alt="duoc2" width="100" height="50">
  </ion-toolbar>
</ion-footer>