// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 20vh;           
  }

.centrarMenu {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 15vh;           
<<<<<<< HEAD
  }
  
.centrarImg {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 50vh;           
  }   
=======
  }  
>>>>>>> c5f5246660f3070a6223a61cd2391e6a12daca4b
  