// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 20vh;           
}

.centrarMenu {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 15vh;           
}

.centrarImg {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 50vh;           
}   

  